body {
   background-color: rgb(250, 241, 226);
   margin: auto;
   display: grid;
   justify-content: center;
   padding: 80px;
}
.main-container {
    background-color: hsl(0, 0%, 100%);
    padding: 40px;
    /* margin:auto; */
    display:grid;
    justify-content: center;
    width: fit-content;
    border-radius: 20px;
}
.first-container {
    background-color: rgba(255, 192, 203, 0.151);
    padding: 10px;
    margin-right: 27%;
}
.brown {
    color: hsl(14, 45%, 36%);
}
.bold {
    font-weight: 600;
}
.purple {
    color: hsl(332, 51%, 32%);
    margin-left: 15px;

}
.border {
    border-radius: 200px;
} 
td {
     border-bottom: 1px solid black;
     padding: 5px;
}
table {
    /* width: 55%; */
     /* margin-left: 5%; */
}

